<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gpnusz.ucloudteach.mapper.ExamCustMapper">
    <resultMap id="BaseResultMap" type="cn.gpnusz.ucloudteach.resp.ExamCust">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="paper_name" jdbcType="VARCHAR" property="paperName"/>
        <result column="total_score" jdbcType="INTEGER" property="totalScore"/>
        <result column="student_id" jdbcType="BIGINT" property="studentId"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="paper_id" jdbcType="BIGINT" property="paperId"/>
        <result column="check_flag" jdbcType="BIT" property="checkFlag"/>
        <result column="check_id" jdbcType="BIGINT" property="checkId"/>
        <result column="right_count" jdbcType="INTEGER" property="rightCount"/>
        <result column="error_count" jdbcType="INTEGER" property="errorCount"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="exam_time" jdbcType="INTEGER" property="examTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.gpnusz.ucloudteach.resp.ExamCust">
        <result column="student_answer" jdbcType="LONGVARCHAR" property="studentAnswer"/>
        <result column="check_list" jdbcType="LONGVARCHAR" property="checkList"/>
    </resultMap>
    <select id="selectExamInfos" resultMap="ResultMapWithBLOBs">
        select t4.name paper_name, t4.total_score, t3.*
        from (select t2.name student_name, t1.*
              from exam_info t1
                       left join student_info t2
                                 on t1.student_id = t2.id) t3
                 left join exam_paper t4
                           on t3.paper_id = t4.id
    </select>
</mapper>